<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NORSU.EncodeMe.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <NORSU.EncodeMe.Properties.Settings>
      <setting name="SideBarOpen" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OpenFileLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="TakePicture" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MaxLoginAttempts" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="LoginAttemptTimeout" serializeAs="String">
        <value>74</value>
      </setting>
      <setting name="AllowEncoderCancel" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ResetQueueOnFailure" serializeAs="String">
        <value>False</value>
      </setting>
    </NORSU.EncodeMe.Properties.Settings>
    <Properties.Settings>
      <setting name="SideBarOpen" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OpenFileLocation" serializeAs="String">
        <value />
      </setting>
    </Properties.Settings>
  </userSettings>
</configuration>